# Created by https://www.toptal.com/developers/gitignore/api/microsoftoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# End of https://www.toptal.com/developers/gitignore/api/microsoftoffice


# Personal Files 
# (You can add some here too if you'd like, Carol)
# (And lmk if you want me to push some of mine)
Notes - Videos/
